<h1>Your Uploaded Files</h1>
<% if @file_uploads.any? %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @file_uploads.each do |file_upload| %>
      <tr>
        <td><%= link_to file_upload.title, file_upload_path(file_upload) %></td>
        <td><%= file_upload.description %></td>
        <td>
          
          <%= link_to "View Details", file_upload_path(file_upload), class: "btn btn-info" %>
          
          <%= link_to "Download", rails_blob_path(file_upload.file, disposition: "attachment"), class: "btn btn-success" %>

          <%= form_with url: file_upload_path(file_upload), method: :delete, local: true, style: "display:inline;" do %>
            <%= submit_tag "Delete", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
          <% end %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <p>No files have been added yet.</p>
<% end %>


<%= link_to "Upload New File", new_file_upload_path, class: "btn btn-primary" %>
